@import 'src/assets/scss/constants';

.layout {
  display: flex;
  justify-content: center;
  height: 100vh;

  > * {
    width: 100%;
    max-width: 400px;
    background-color: $gray_light;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.image {
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: calc(10% + 4px);
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  height: 56px;
  padding: 18px 14px;
  background: $gray;
  border: 1px solid $gray_dark;
  border-radius: 50px;

  &::placeholder {
    color: $gray_darken;
  }
}
